#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    min-width: 250px;
    max-width: 250px;
  }
  
  #page-content-wrapper {
    flex: 1;
  }
  
  .sidebar-heading {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #f8f9fa;
  }
  